<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keyguard"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.activity.common.KeyGuardApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".LockService" >
        </service>
        <!-- 申明activity -->
        <activity
            android:name=".LockActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".DownLoadWebActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.earnings.Activity_earnings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.invitation.Activity_invitation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_more"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.shop.Activity_shop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.common.Activity_Guide"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.common.Activity_Launch"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.reg.LoginActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.example.activity.reg.Activity_Reg"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.reg.Activity_Reg_Authentication"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.reg.Activity_Reg_Password"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.more.Activity_MyInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_Address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.common.Activity_Submit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.shop.Activity_ShopInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.earnings.Activity_newcomer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_MyDownload"
            android:label="@string/title_activity_activity__my_download"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.earnings.Activity_EarningsShop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.invitation.Activity_InvitationInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.earnings.Activity_NotActive"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.common.Activity_PublicWeb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_AddressList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_MyInfoPassWord"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_MyInfoPhone"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.more.Activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.common.Activity_OnlySubmit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.common.Activity_DownloadWeb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.activity.shop.Activity_ShopInfoWeb"
            android:screenOrientation="portrait" >
        </activity>
        <!--
        <activity
            android:name="com.example.keyguard.Activity_YouMi"
            android:screenOrientation="portrait" >
        </activity>



        -->
        <!-- 有米广告 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.youmi.android.ExpService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data            android:name="UMENG_APPKEY"            android:value="54b71edafd98c5332c000469" />
        <meta-data            android:name="UMENG_CHANNEL"            android:value="" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.example.keyguard.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name="com.example.activity.more.Activity_EditAddress"></activity>
    </application>

</manifest>
